html {
  box-sizing: border-box;
}
body {
  box-sizing: inherit;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container {
  max-width: 2138px;
  width: 100%;
  padding-right: 62px;
}
/* head */
.famous {
  background-color: #D4D8F3;
}
.nav-bar {
  display: flex;
  width: 100%;
  height: 104px;
  border: 1px solid #000;
  align-items: center;

  justify-content: space-between;
}
.nav-br__wrapper {
  display: flex;
  width: 50%;
}
.nav-bar-menu {
  /* max-width: 288px; */
  /* width: 100%; */
  height: 104px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0 90px;
  margin-right: 20%;
}
.nav-bar-menu span {
  font-size: 16px;
  font-weight: bold;
}
.nav__icon {
  display: inline-block;
  font-size: 30px;
}
.nav-bar-logo {
  display: block;
  max-width: 397px;
  height: 73px;
  /* margin-right: 37.5%; */
  padding-top: 20px;
}
/* Блок кнопок в меню */
.nav-br__wrapper {
  width: 50%;
}
.nav-bar-blok__btn {
  display: flex;
  gap: 13px;
  align-items: center;
  padding-top: 9px;
}
.switcher {
  display: flex;
  max-width: 98px;
  width: 100%;
  height: 61px;
  border: 1px solid #000;
  border-radius: 36px;
  padding: 17px;
  gap: 15px;
  box-sizing: border-box;
  transition: all 0.5s;
}
.switcher:hover {
  background-color: #000;
  cursor: pointer;
}
.switcher:hover .swit-icon__sun {
  color: #fff;
}
.switcher img {
  max-width: 32%;
}
.swit-icon__sun {
  font-size: 26px;
}
.nav-bar__lang {
  max-width: 98px;
  width: 100%;
  height: 61px;
  border-radius: 12px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.5s;
}
.nav-bar__lang:hover {
  background-color: rgb(246, 43, 50);
  cursor: pointer;
  color: #fff;
}
.write {
  /* max-width: 214px; */
  /* width: 100%; */
  width: 266px;
  height: 61px;
  border-radius: 12px;
  background-color: rgb(246, 43, 50);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 20.5px 30.5px;
  box-sizing: border-box;
  transition: all 0.5s;
  text-decoration: none;
  color: #fff;
}
.write:hover {
  background-color: #fff;
  cursor: pointer;
  color: #000;
  border: 1px solid #000;
}
