html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* 
Временный стиль
* {
  outline: 1px solid red;
} 
*/
body {
  margin: 0;
  min-height: 100%;
  position: relative;
  padding-bottom: 86px;
  background: radial-gradient(
    ellipse,
    rgba(255, 255, 255, 1) 0%,
    rgba(212, 216, 243, 1) 100%
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* background-color: var(--famous-bg-color); */
:root {
  --famous-bg-color: #d4d8f3;
  --main-color-font: #1a1a1a;
  --main-red: #e9081b;
  --light-font: #8489a6;
  /* #d4d8f3; */
}
/* Сброс стилей */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 2138px;
  /* padding-right: 62px; */
}

/* head */
.famous {
}
.nav-bar {
  display: flex;
  width: 100%;
  height: 104px;
  align-items: center;
  justify-content: space-between;
}
.nav-br__wrapper {
  display: flex;
  width: 50%;
}
.nav-bar-menu {
  max-width: 288px;
  height: 104px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0 90px;
  margin-right: 19.5%;
  transition: all 0.5s;
}
.nav-bar-menu:hover {
  cursor: pointer;
  background-color: #4e4d4d;
}
.nav-bar-menu span {
  font-size: 16px;
  font-weight: bold;
}
.icon-menu::before {
  margin-left: -5px;
  width: unset;
  font-size: 50px;
}

.nav-bar-logo {
  display: block;
  margin-top: 20px;
  max-width: clamp(245px, 18.04vw, 397px);
  height: clamp(45px, 3.318vw, 73px);
}
/* Блок кнопок в меню */
.nav-br__wrapper {
  width: 50%;
}
.nav-bar-blok__btn {
  display: flex;
  gap: 13px;
  align-items: center;
  padding-top: 9px;
}
.nav-bar__switcher {
  display: flex;
  max-width: 98px;
  width: 100%;
  height: 61px;
  border: 1px solid var(--light-font);
  border-radius: 36px;
  padding: 17px;
  gap: 15px;
  box-sizing: border-box;
  transition: all 0.5s;
}
.nav-bar__switcher:hover {
  background-color: #000;
  cursor: pointer;
}
.nav-bar__switcher:hover .swit-icon__sun {
  color: #fff;
}
.nav-bar__switcher img {
  max-width: 32%;
}
.swit-icon__sun {
  font-size: 26px;
}
.nav-bar__lang {
  max-width: 98px;
  width: 100%;
  height: 61px;
  border: 1px solid var(--light-font);
  border-radius: 12px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.5s;
  background: transparent;
}
.nav-bar__lang:hover {
  background-color: var(--main-red);
  cursor: pointer;
  color: #fff;
}
.write {
  width: 266px;
  height: 61px;
  border-radius: 12px;
  background-color: #ff2d55;
  box-shadow: 0 17px 50px 0 rgba(232, 7, 18, 0.4);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 20.5px 30.5px;
  box-sizing: border-box;
  transition: all 0.5s;
  text-decoration: none;
  color: #fff;
}
.write i {
  display: none;
}
.write:hover {
  background-color: #fff;
  cursor: pointer;
  color: #000;
  border: 1px solid #000;
}

/* блок "Разработка" */
.heading__flex {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 121px;
  padding-left: 215px;
}
.heading-item {
  max-width: 1099px;
  width: 49vw;
  height: 497px;
}
.heading-h1 {
  font-weight: 700;
  max-width: 1099px;
  font-size: clamp(50px, 3.91vw, 86px);
  line-height: 100%;
}
.heading-ul {
  padding-left: 15%;
  padding-top: 98px;
  font-weight: 700;
  font-size: clamp(50px, 3.91vw, 86px);
  list-style: none;
  line-height: 49px;
  letter-spacing: 2px;
}

.head-li__posit {
  position: relative;
  display: flex;
  align-items: baseline;
  padding-bottom: 5px;
  width: 416px;
}
.heading-ul li:hover {
  cursor: pointer;
}
.color-activ {
  color: red;
}
.heading-ul span {
  font-size: 29px;
  margin-right: 6px;
}
.heading-ul p {
  display: inline-block;
}

.turn__icon {
  display: inline-block;
  transform: rotate(45deg);
  font-size: 37px;
  padding-top: 10px;
  margin-left: auto;
}
/* Блок для картинок слайдера */
.heading-img {
  position: absolute;
  top: 29%;
  left: 50.5%;
  width: 51vw;
  max-width: 1126px;
  height: 614px;
  overflow: hidden;
}
.heading-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.text-footer {
  width: 100vw;
  text-align: center;
  font-weight: 700;
  font-size: clamp(14px, 1.09vw, 24px);
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #b4b8d8;
  background: #d4d8f3;
  padding: 26px 0px;
  position: fixed;
  bottom: 0;
  z-index: 100;
}

/* медиазапросы Famous-1 */
@media (max-width: 1600px) {
  .heading-ul {
    padding-left: 7%;
  }
}
@media (max-width: 1366px) {
  .heading-ul {
    padding-left: 0%;
  }
  .nav-bar-menu {
    margin-right: 4.5%;
    max-width: 250px;
  }
  .services-mod-wind {
    left: 10%;
  }
}
@media (max-width: 1200px) {
  .nav-bar {
    justify-content: flex-start;
  }
  .nav-bar-menu {
    margin-right: 4.5%;
    max-width: 200px;
  }
  .nav-bar-blok__btn {
    margin-left: auto;
  }
  .nav-br__wrapper {
    margin-right: 60px;
  }
  .heading__flex {
    padding-top: 100px;
    padding-left: 35px;
  }
  .heading-img {
    left: 43.5%;
  }
}

@media (max-width: 1080px) {
  .nav-bar-logo {
    margin-left: 0px;
  }
  .nav-bar__switcher {
    display: none;
  }
  .nav-bar__lang {
    display: none;
  }
  .head-li__posit {
    width: 363px;
  }
  .write {
    padding: 14px 0px;
    width: 76px;
    height: 71px;
    box-shadow: 0 17px 50px 0 rgba(232, 7, 18, 0.4);
    background: linear-gradient(90deg, #ed040b 0%, #98057e 100%);
    margin-right: 20px;
  }
  .write p {
    display: none;
  }
  .write i {
    display: inline-block;
    font-size: 30px;
  }
}
@media (max-width: 900px) {
  .heading__flex {
    padding-top: 57px;
    padding-left: 27px;
    flex-direction: column;
  }
  .heading-h1 {
    order: 0;
  }
  .heading-ul {
    order: 2;
    margin: 0 auto;
    line-height: 65px;
    padding-top: 10px;
  }
  .head-li__posit {
    width: 460px;
  }
  .heading-img {
    order: 1;
    position: static;
    width: 100%;
  }
  .wrapper-cases__flex {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .nav-bar-menu span {
    display: none;
  }
  .nav-bar-menu {
    padding: 0px 40px;
  }
}

@media (max-width: 520px) {
  .nav-bar {
    height: 68px;
  }
  .nav-bar-menu {
    padding: 34px 40px;
    width: 0px;
    height: 16px;
    margin-right: 35px;
  }
  .icon-menu::before {
    margin-left: 6px;
    width: unset;
    font-size: 42px;
  }
  .nav-bar-menu span {
    display: none;
  }
  .nav__icon {
    font-size: 40px;
    width: 20px;
  }
  .nav-bar-blok__btn {
    padding-top: 0px;
  }
  .nav-bar__nav-bar__switcher {
    display: none;
  }
  .nav-bar__lang {
    display: none;
  }
  .nav-bar-logo {
    display: block;
    max-width: 241px;
    height: 45px;
  }
  .write {
    padding: 10px 0px;
    width: 66px;
    height: 61px;
    box-shadow: 0 17px 50px 0 rgba(232, 7, 18, 0.4);
    background: linear-gradient(90deg, #ed040b 0%, #98057e 100%);
  }
  .write p {
    display: none;
  }
  .write i {
    display: inline-block;
  }
  .container {
    padding-right: 0;
  }
  .heading__flex {
    padding-top: 57px;
    padding-left: 27px;
    flex-direction: column;
  }
  .heading-h1 {
    order: 0;
  }
  .heading-ul {
    order: 2;
    padding-left: 0%;
    padding-top: 0px;
    margin-top: -168px;
    line-height: 30px;
  }
  .heading-img {
    order: 1;
    position: static;
    width: 100%;
  }
  .heading-img img {
    transform: scale(1.5) translate(1px, -54px);
  }
  .head-li__posit {
    padding-bottom: 0px;
    height: 65px;
    width: 100%;
  }
  .turn__icon {
    display: inline-block;
    transform: rotate(45deg);
    font-size: 37px;
    padding-top: 33px;
    margin-left: auto;
  }
  .icon-mail-alt:before {
    font-size: 139%;
  }
  .heading-ul span {
    margin-right: 14px;
  }
  .text-footer p {
    letter-spacing: 0.1em;
    max-width: 422px;
    margin: 0 auto;
  }
}

@media (max-width: 460px) {
  .nav-bar-menu {
    margin-right: 15px;
  }
  .heading-h1 {
    font-size: clamp(40px, 3.91vw, 86px);
    text-align: center;
  }
  .write {
    padding: 7px 0px;
    width: 60px;
    height: 56px;
    margin-right: 5px;
  }
}
/* Стили модальных окон */
.services-mod-wind {
  border-radius: 60px;
  max-width: 2000px;
  width: 90vw;
  height: auto;
  padding-top: 68px;
  padding-bottom: 93px;
  box-shadow: 0 75px 100px 0 rgb(32 31 79 / 25%);
  background: #fff;
  position: absolute;
  top: 110%;
  left: -94%;
  z-index: 100;
}
/* Разделить стиль на модальных окнах services / cases */
.cases-mod-wind {
  border-radius: 60px;
  max-width: 2000px;
  width: 90vw;
  height: auto;
  padding-top: 68px;
  padding-bottom: 93px;
  box-shadow: 0 75px 100px 0 rgb(32 31 79 / 25%);
  background: #fff;
  position: absolute;
  top: 110%;
  left: -94%;
  z-index: 100;
}
.mod-container {
  /* max-width: 994px; */
  max-width: 1012px;
  height: auto;
  margin: 0 auto;
  padding: 0px 20px;
}

.mod-wind-list__flex {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  margin-bottom: 35px;
  list-style: none;
  padding: 0 15px;

  font-weight: 700;
  font-size: 22px;
  line-height: 145%;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
.services-mod-wind p {
  font-family: var(--font-family);

  font-weight: 400;
  font-size: 22px;
  line-height: 155%;
  color: var(--main-color-font);

  padding-top: 23px;
  margin-bottom: 20px;
}
.mod-btn-close {
  font-size: 3vw;
  position: absolute;
  top: 2%;
  right: 1%;
}
.icon-cancel {
}
.mod-btn-order {
  border-radius: 30px;
  padding: 20px 34px;
  max-width: 284px;
  width: 100%;
  height: 61px;

  box-shadow: 0 17px 50px 0 rgba(232, 7, 18, 0.4);
  background: linear-gradient(90deg, #ed040b 0%, #98057e 100%);

  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.mod__hidden {
  display: none;
}
.mod__open {
  display: block;
}
.active__padding {
  margin-bottom: 47%;
}
/* Медиазапросы для модального окна */
@media (max-width: 1600px) {
  .services-mod-wind {
    top: 110%;
    left: -50%;
  }
}
@media (max-width: 1366px) {
  .services-mod-wind {
    left: -30%;
  }
}
@media (max-width: 1200px) {
  .services-mod-wind {
    left: 0%;
  }
}
@media (max-width: 900px) {
  .services-mod-wind {
    left: 50%;
    transform: translate(-50%, 0px);
  }
}
/* Стили модал Кейсы */
.wrapper-cases__flex {
  display: flex;
  gap: 20px;
  width: 100%;
}

.mod-container__cases {
  max-width: 1804px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 10px;
}
/* кнопка мод окно Кейсы */
.mod-btn-cases {
  text-decoration: none;
  display: block;
  max-width: 360px;
  width: 100%;
  /* height: 61px; */
  padding: 6px 34px;
  letter-spacing: 0px;
  margin: 0 auto 50px;
  border-radius: 30px;
  box-shadow: 0 17px 50px 0 rgb(232 7 18 / 40%);
  background: linear-gradient(90deg, #ed040b 0%, #98057e 100%);
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}
.cases__item {
  flex-basis: 340px;
  flex-grow: 1;
  position: relative;
}
/* .cases__item-img {
} */
.cases__item img {
  width: 100%;
  object-fit: cover;
}
.cases-block__icon {
  width: 5%;
  height: auto;
  padding: 20px 49px;
  background-color: #14a2f5;
  border-radius: 20px 0 20px 0;
  position: absolute;
  bottom: 0%;
  right: 0%;
  transform: translate(0%, -116%);
}
.cases-block__icon img {
  width: 1vw;
  height: auto;
}

/* Стили для страницы Page-cases */
.container-page-cases {
  /* max-width: 1200px; */
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 35px;
}
.h1-page-cases {
  padding-top: 53px;
  margin-bottom: 62px;
  font-weight: 700;
  font-size: 86px;
  line-height: 100%;
  text-align: center;
  color: var(--main-color-font);
}
.page-cases__flex {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  max-width: 1199px;
  height: auto;
  margin: 0 auto 45px;
}
.page-item {
  border-radius: 0 0 70px 0;
  width: 381px;
  flex-basis: 381px;
  flex-grow: 1;
  height: auto;
}
.page-item img {
  width: 100%;
  object-fit: contain;
}
.p-page-cases {
  padding-top: 24px;
  font-weight: 400;
  font-size: 22px;
  line-height: 155%;
  color: var(--main-color-font);
}
.page-cases-btn {
  display: block;
  border: #ed040b solid 1px;
  border-radius: 30px;
  padding: 20px 34px;
  width: 284px;
  height: 61px;
  margin: 0 auto;

  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: var(--main-color-font);
}
.p-page-case {
}
/* Стили страницы Case1 Page */
.page {
  margin: 42px auto 0;
  max-width: 2000px;
  padding-inline: 200px;
  border-radius: 60px;
  background-color: #fff;
  box-shadow: 0 75px 100px 0 rgba(32, 31, 79, 0.25);
  position: relative;
}
.page-h1 {
  font-weight: 700;
  font-size: clamp(36px, 9.3vw, 86px);
  line-height: 100%;
  text-align: center;
  color: var(--main-color-font);
  padding-top: 64px;
  margin-bottom: 60px;
}
.page-btn__close {
  position: absolute;
  top: 2%;
  right: 4%;
  font-size: 40px;
  transform: translate(50px, -50px);
}
.icon-cancel {
}
.page-img1 {
  width: 100%;
  object-fit: cover;
  margin-bottom: 65px;
}
.text-p {
  max-width: 994px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 22px;
  line-height: 155%;
  color: var(--main-color-font);
}
.page-img2 {
  display: block;
  max-width: 722px;
  width: 100%;
  object-fit: cover;
  padding-top: 59px;
  margin: 0 auto 65px;
}
.page-list {
  margin-bottom: 166px;
}
.page-h2,
.page-h3,
.page-h4,
.page-h5,
.page-h6 {
  display: block;
  font-weight: 700;
  font-size: clamp(32px, 2.54vw, 56px);
  line-height: 114%;
  text-align: center;
  color: var(--main-color-font);
  margin-bottom: 18px;
}
.page-h3 {
  font-size: clamp(23px, 1.8vw, 40px);
  line-height: 115%;
  margin-bottom: 18px;
  padding-top: 10px;
}
.page-h4 {
  padding-top: 35px;
  font-size: clamp(17.5px, 1.36vw, 30px);
  line-height: 120%;
}
.page-h5 {
  padding-top: 20px;
  font-size: clamp(14px, 1.1vw, 24px);
  line-height: 130%;
}
.page-h6 {
  padding-top: 10px;
  font-size: clamp(11.6px, 0.9vw, 20px);
  line-height: 150%;
  text-transform: uppercase;
}
.page-btn {
  display: block;
  margin: 0 auto;
  border-radius: 30px;
  padding: 20px 34px;
  width: 284px;
  height: 61px;
  box-shadow: 0 17px 50px 0 rgba(232, 7, 18, 0.4);
  background: linear-gradient(90deg, #ed040b 0%, #98057e 100%);

  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 46px;
  transition: all 0.3s;
}
.page-btn:hover {
  cursor: pointer;
  font-size: 18px;
}
.page__flex {
  max-width: 1185px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 60px;
  padding-bottom: 121px;
}
.page__item:nth-child(1) {
  text-align: right;
}
.page__item:nth-child(1) .icon-right::before {
  transform: rotate(180deg);
}
.page__item__block {
}
.page__item__block p {
  display: inline;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
}
.page__item__block:hover {
  cursor: pointer;
  color: #e9081b;
}
.icon-right {
}
/* Стилили для Case1 Page */
@media (max-width: 1900px) {
  .page {
    padding-inline: 100px;
  }
  .page-btn__close {
    right: 4.5%;
  }
}
@media (max-width: 1200px) {
  .page {
    margin: 42px auto 0;
    padding-inline: 80px;
  }
  .page-btn__close {
    right: 6%;
  }
}
@media (max-width: 768px) {
  .page {
    padding-inline: 45px;
  }
  .page-btn__close {
    right: 8%;
  }
}
@media (max-width: 520px) {
  .page {
    padding-inline: 30px;
  }
  .page-btn__close {
    right: 11%;
  }
}
@media (max-width: 460px) {
  .page {
    margin: 32px auto 0;
    padding-inline: 18px;
  }
}
