html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}
body {
  box-sizing: inherit;
  margin: 0;
  min-height: 100%;
  position: relative;
  background-color: #d6d6d5;
}
:root {
  --main-color-font: #1a1a1a;
  --main-red: #e9081b;
  --light-font: #8489a6;
}
/* Сброс стилей */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 2138px;
  padding-right: 62px;
}

/* head */
.famous {
}
.nav-bar {
  display: flex;
  width: 100%;
  height: 104px;
  border: 1px solid #000;
  align-items: center;

  justify-content: space-between;
}
.nav-br__wrapper {
  display: flex;
  width: 50%;
}
.nav-bar-menu {
  max-width: 288px;
  height: 104px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0 90px;
  margin-right: 19.5%;
  transition: all 0.5s;
}
.nav-bar-menu:hover {
  cursor: pointer;
  background-color: #4e4d4d;
}
.nav-bar-menu span {
  font-size: 16px;
  font-weight: bold;
}
.nav__icon {
  display: inline-block;
  font-size: 30px;
}
.nav-bar-logo {
  display: block;
  max-width: 397px;
  height: 73px;
  padding-top: 20px;
}
/* Блок кнопок в меню */
.nav-br__wrapper {
  width: 50%;
}
.nav-bar-blok__btn {
  display: flex;
  gap: 13px;
  align-items: center;
  padding-top: 9px;
}
.switcher {
  display: flex;
  max-width: 98px;
  width: 100%;
  height: 61px;
  border: 1px solid #000;
  border-radius: 36px;
  padding: 17px;
  gap: 15px;
  box-sizing: border-box;
  transition: all 0.5s;
}
.switcher:hover {
  background-color: #000;
  cursor: pointer;
}
.switcher:hover .swit-icon__sun {
  color: #fff;
}
.switcher img {
  max-width: 32%;
}
.swit-icon__sun {
  font-size: 26px;
}
.nav-bar__lang {
  max-width: 98px;
  width: 100%;
  height: 61px;
  border-radius: 12px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.5s;
}
.nav-bar__lang:hover {
  background-color: var(--main-red);
  cursor: pointer;
  color: #fff;
}
.write {
  width: 266px;
  height: 61px;
  border-radius: 12px;
  background-color: #ff2d55;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 20.5px 30.5px;
  box-sizing: border-box;
  transition: all 0.5s;
  text-decoration: none;
  color: #fff;
}
.write:hover {
  background-color: #fff;
  cursor: pointer;
  color: #000;
  border: 1px solid #000;
}
/* блок "Разработка" */
.heading__flex {
  position: relative;
  display: flex;
  padding-top: 121px;
  padding-left: 215px;
}
.heading-item {
  max-width: 1099px;
  width: 49vw;
  height: 497px;
  border: 1px solid #000;
}
.heading-h1 {
  font-weight: 700;
  font-size: 86px;
  line-height: 100%;
}
.heading-ul {
  padding-left: 26%;
  padding-top: 98px;
  font-weight: 700;
  font-size: 86px;
  list-style: none;
  line-height: 44px;
  letter-spacing: 2px;
}
.color-activ {
  color: red;
}
.heading-ul span {
  font-size: 29px;
  margin-right: -16px;
}
li {
  padding-bottom: 5px;
}
.turn__icon {
  display: inline-block;
  transform: rotate(45deg);
  font-size: 61px;
  padding-top: 10px;
  margin-left: -34px;
}
/* Блок для картинок слайдера */
.heading-img {
  position: absolute;
  top: 29%;
  left: 50.5%;
  width: 51vw;
  max-width: 1126px;
  height: 614px;
  overflow: hidden;
}
.heading-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.text-footer {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  text-align: center;
  color: #b4b8d8;
  padding: 26px 0px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
